@import "./../../../assets/variables.scss";

.product-card {
    color:$text-color;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    &:hover{
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border: 0;
        cursor: pointer;
        img{
            transform: scale(1.1);
        }
    }
    .image-wrapper {
        padding-inline: 1rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 15rem;
            transition-duration: 0.5s;
        }
    }

    .action-btn{
        padding: 0;
        div{
            font-size: 20px;
            padding: 10px;
        }
    }
}