<div class="product-card card  py-4 d-flex flex-column align-items-center position-relative">
    <div class="image-wrapper">
        <img class="rounded" [src]="getThumbnil()" alt="">
    </div>
    <div class="rating"></div>
    <div class="product-name text-secondary fw-bold mt-2">{{ product?.name }}</div>
    <div class="price-wrapper d-flex flex-row gap-1 text-secondary fs-4">
        <div class="product-actual-price" [ngClass]="{'text-decoration-line-through fs-5':product?.discountedPrice !==null}">Rs. {{ product?.price }}</div>
        <div class="product-discounted-price">{{ product?.discountedPrice }}</div>
    </div>
    <div pRipple class="btn btn-primary text-white mt-3">Add to Cart</div>
</div>