<div class="wrapper d-flex align-items-center justify-content-center flex-column">
    <div class="heading">
        <h1 class="text-center mb-5 theme-color theme-font">Beauty Essentials</h1>
        <div class="essentials d-flex flex-row  text-center">
            <div class="essential-item flex-column cursor-pointer">
                <div class="img">
                    <img src="../../../assets/images/img-1_470x.avif" alt="">
                </div>
                <div class="name">AYURVEDIC CREAMS</div>
                <div class="price ">Starting from ₹100</div>
            </div>
            <div class="essential-item flex-column  cursor-pointer">
                <div class="img">
                    <img src="../../../assets/images/img-2_470x.avif" alt="">
                </div>
                <div class="name">AYURVEDIC OILS</div>
                <div class="price">Starting from ₹200</div>
            </div>
            <div class="essential-item flex-column  cursor-pointer">
                <div class="img">
                    <img src="../../../assets/images/img-3_470x.avif" alt="">
                </div>
                <div class="name">AYURVEDIC LOTIONS</div>
                <div class="price">Starting from ₹500</div>
            </div>
        </div>
    </div>
</div>
